/** -------- Main --------- **/

html {
    border:  0;
    margin:  0;
    padding: 0;
}

.header{
    font-size:26px;
    font-weight: bold;
    margin: 10px auto auto -100px;
}

/** ---- Basic appearance ---- **/
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;

    border: 0;
    margin: 0;
    padding: 0;

    font-weight: 350;
    line-height: 1.4;
}

/*Code Box*/

body pre{
font-family:Consolas,Menlo,Courier,monospace;
font-size:0.8em;
line-height:25px;
max-height: 30em;
min-width: 600px;
overflow-x:auto;
overflow-y:auto;
border:1px solid #d5d5d5;
border-left:10px solid #d5d5d5;
background-color:#fafafa;
padding-left: 10px;
/*padding:11px 15px 12px;*/
/*margin-left:-25px;*/
}

.gist {font-size:0.7em}

.gist pre {
max-height: none;
}

.gist-data.gist-syntax {
max-height: 20em;
}

.gist table {
margin: 0;
border: 0;
}

.gist .gist-file .gist-data .line-data {
    width: 100%;
}
body p code, dd p code, dd code, li code {
    font-family:Consolas,Menlo,Courier,monospace;
    font-size: 0.7em;
    border: 1px solid #d5d5d5;
    background: #f0f0f7;
    padding: 0.3em 0.2em 0.1em 0.2em;
}

/*body pre::-webkit-scrollbar{
height:25px;

}*/

body pre::-webkit-scrollbar-button:start,body pre::-webkit-scrollbar-button:end{
display:none;

}

body pre::-webkit-scrollbar-track-piece{
background-color:#eee;

}

body pre::-webkit-scrollbar-thumb{
background-color:#bbb;
border:7px solid #eee;
-webkit-background-clip:padding-box;
-webkit-border-radius:12px;

}


/** Links ---- **/
a { color: purple;
    text-decoration: none; }

#content a { font-weight: bold; }
#content a:hover { text-decoration: underline; }

div#postamble a { font-weight: bold; }
div#postamble a:hover {  text-decoration: underline; }

/** -------- Navigator --------- 
   
   When then width of the page becomes too small, the navigators
   shrinks to a vertical layout.
*/

div#preamble{
    margin: auto;
    max-width: 600px;
    padding-left:10%;
    padding-right:10%;
}

header {
    text-align:center;
}

header img {
    padding:0;
    margin: 0;
    width: 600px;
}

#nav a {
    display: inline-block;
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

#nav span.sep {
    display: inline-block;
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

@media screen and (max-width: 600px){
    #nav a {
        padding: 8px 10px;
        display: block;
    }

    header img {
        display: none;
    }
    
    #nav span.sep {
        display: none;
    }

    #catchphrase {
        display: none;
    }

    #nav {
        font-size: normal;
    }

 }


#nav {
    margin: 0;
    padding: 0;
    font-size: larger;
}

#nav a.active {
    background-color: #4CAF50;
    color: white;
}    

#nav a:hover:not(.active) {
    background-color: #822433;
    color: white;
}


#blogname {
    font-family: Palatino;
    font-size: 300%;
    text-transform: uppercase;
    word-spacing: .2em;
    letter-spacing: .05em;
    margin-bottom: 0;
}

#blogname a {
    color: #000;
}


#catchphrase {
    font-family: Palatino;
    font-size:1.2em;
    font-style: italic;
}
/** ------ Content --------- **/

#content {
    margin: auto;
    max-width: 800px;
    padding-left:10%;
    padding-right:10%;
    text-align: justify;
    hyphens: auto;
}

@media screen and (max-width: 600px){
    main { font-size: 90%;}
}


h1.post-title {text-align:center;}

h2.post-title {text-align:left;}

div#footnotes {}

.footpara { display: inline;}

.footnum,.footref {
    font-weight: bold;
    font-size: 8pt;    
}

.footref { margin-left: 3px; }

div.taglist {
    clear: both;
    margin-top: 1em;
}

div#archive {
    text-align: center;
    font-size: 120%;
    margin: 10px;
}

div.post-date {
    border-top: 1px solid #000;
    margin-top: 1.5em;
    padding-top: 0.2em;
    font-weight: bold;
}

/** Code blocks:  
 They may be larger than the page width. In this case I want them
 centered, with the overflow evenly distributed left and right.
*/
div.org-src-container {
    margin-left: 50%;
    transform: translateX(-50%);
    width: max-content;
}

/** Figures: fix large pictures */
figure {
    margin:0;
}

.fullwidth {
    margin-left: 50%;
    transform: translateX(-50%);
    width: max-content;
}

.shadow {
    box-shadow: 5px 5px 10px #555;
}

.framed {
    border: solid 1px #AAA;
}

/** Tables */
table {
    border: solid 1px #AAA;
    border-collapse: collapse;
    border-spacing: 0;

    margin-left: 50%;
    transform: translateX(-50%);
    width: max-content;
    box-shadow: 5px 5px 10px #555;
}

table thead th {
    background-color: #822433;
    border: solid 0px #000;
    color: #fff;
    padding: 10px 5px 10px 5px;
    text-align: left;
}

table tr:nth-child(even) {
  background: #FDD;
}

table tbody td {
    border: solid 1px #AAA;
    padding: 10px 5px 10px 5px;
}




/** ------ Footer --------- **/
div#postamble {
    margin: auto;
    max-width: 600px;
    clear: both;
}

footer {
    border-top: 1px solid #000;
    margin-top: 2%;
    padding: 1%;
    font-size:70%;
    text-align: center
}


/*---------------------  Math -------------------------*/
.abstract {
    display: none; /* Abstract box are hidden by default. */

    margin-top:    1ex;
    margin-bottom: 1ex;
    margin-left:   2em;
    margin-right:  2em;

    padding-top:    2ex;
    padding-bottom: 2ex;
    padding-left:   2em;
    padding-right:  2em;

    border-width: 1px;
    border-style: solid;
    border-color: black;

    background: #eee;

    text-align: justify;
    font-family: serif;
    line-height: 1.2;
}

.abstract-header {
    font-size: 120%;
    font-weight: bold;
    font-family: serif;
    text-align: center;
    margin-top:    1ex;
    margin-bottom: 1ex;

}

/* Contacts page */
img#profile-pic {
    width: 150px;
    float: left;
    border-radius: 50%;
    margin-left: 0;
    margin-right: 2em;
    margin-top: 0;
    margin-bottom: 1em;
}


#contacts-list {
    list-style-type: none;
    padding: 0;
    float:inherit;
}
.contacts {
    margin: 0;
    padding: 0;
}

.contact-pic {
    vertical-align: middle;
    width: 2em;
}

img#location-pic {
    width: 150px;
    float: left;
    border-radius: 50%;
    margin-left: 0;
    margin-right: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    overflow: auto;
}

@media screen and (max-width: 600px){
    img#profile-pic  {float: none;} 
    img#location-pic {float: none;}
}



